.content {
	

	&__contact {
		text-align: center;
		font-size: 3rem;
	}

	&__setlist {
		color: black;
		padding: 0rem;
		line-height: 1.4;
	}

	&__about-text {
		width: 50%;
	    color: black;
	    padding: 3rem;
	}

	&__weddings {

		line-height: 1.4;
		@include respond(desktop) {
			line-height: 1.7;
		}
	    color: black;
	    padding: 3rem;
	    list-style-position: inside;
	}

	&__weddings1 {
		width: 50%;	
	    color: black;
	    padding: 3rem;
	}

	&__weddings2 {
		width: 50%;
		color: black;
		padding: 3rem;
	}

	&__about2 {
		width: 50%;
	color: black;
	padding: 3rem;

}
	&__about2-image {
		height: 30rem;
		@include respond (tab-land){
			height: 25rem;
		}
		border-radius: 5px;
		// add HOVER EFFECT TO THE IMAGE
	}
}


.content-2 {
	width: 50%;
	color: black;
	padding: 3rem;

	&__image {
		height: 30rem;
		@include respond (tab-land){
			height: 25rem;
		}
		border-radius: 5px;
		// add HOVER EFFECT TO THE IMAGE
	}
}

.fadeIn {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}