.content {
	width: 50%;
	color: black;
	padding: 3rem;
}

.content-2 {
	width: 50%;
	text-align: center;

	&__image {
		height: 30rem;
		@include respond (tab-land){
			height: 25rem;
		}
		border-radius: 5px;
		// add HOVER EFFECT TO THE IMAGE
	}
}

.fadeIn {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}