.header {
  height: 15vh;
  background-position: top;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  

	&__logo {
		height: 9rem;

	}
}

.headervid-section {
	
}

