.u-center-text {
	text-align: center;
}

.u-center-text-off {
	text-align: left !important;
}

.u-margin-bottom-big {
	margin-bottom: 8rem;
}


.u-margin-bottom-medium {
	margin-bottom: 4rem;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem;
}

.u-margin-top-small {
	margin-top: 2rem;
}

.u-margin-top-big {
	margin-top: 8rem;
}

.u-margin-top-huge {
	margin-top: 10rem;
}
.u-huge {
	font-size: 5rem;
}

.u-none {
	display: none;
}

.u-padding-right {
	padding-right: 4rem;
}

.u-padding-left {
	padding-left: 4rem;
}

.u-phone-off {
	@include respond(tab-port) {
		display: none !important;
	}
}

.u-phone-on {
	@include respond(tab-port) {
		display: inline !important;
	}
}

.u-phone-onmin {
	@include respond(tab-portmin) {
		display: none !important;
	}
}

.u-color-black {
	color: black;
}
.u-flex-wrap {
	display: flex;
	flex-wrap: wrap;
	height: 20rem;
	justify-content: space-around;
}

.u-flex {
	display: flex;
	  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}