.section-about {
	background-color: $color-grey-light1;
	padding: 25rem 0;
	margin-top: -20vh;
}

.section-text{
	display:none;
	background-color: #333;
	height: auto;
	padding: 1rem;
	&__setlist {
		text-align: center;
	
		&-list {
			list-style-type: none;
		}
	}

	@include respond (tab-port) {
		display: block;
	}


	&__div {
		height: 28rem;
		@include respond (phone) {
		height: 38rem;
	}
		padding: 1rem;
		background-color: rgba(white, .9);
		// border-radius: 5px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

		&-contact {
			height: 28rem;
		@include respond (phone) {
		height: 22rem;
	}
		padding: 1rem;
		background-color: rgba(white, .9);
		// border-radius: 5px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
		}
		
		

	}

}

.section-image-1 {
	background-image: url(../img/wideshot.png);
	height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    	@include respond (tab-port) {
		display: block;
	}
}

.section-image-2 {
	background-image: url(../img/sesh.jpg);
	height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    display:none;
    	@include respond (tab-port) {
		display: block;
	}
}

.section-image-3 {
	background-image: url(../img/hihat.jpg);
	height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    display:none;
    	@include respond (tab-port) {
		display: block;
	}
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8),rgba($color-primary-dark,0.8)), url("../img/nat-4.jpg");
	background-size: cover;
	margin-top: -10rem;
	transform: skewY(-7deg);

	& > * {
		transform: skewY(7deg);
	}

}

.section-tours {
	background-color: $color-grey-light1;
	padding: 25rem 0 15rem 0;
	margin-top: -10rem;
}

.section-stories {
	background-color: $color-grey-light1;
	padding: 15rem 0;
}

.section-content {
	position: absolute;
	height: 65%;
	width: 90%;
	max-width: 100%;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(white, .9);
	border-radius: 5px;
	opacity: 0;
	-webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;

}

